:root {
  --lime-green: #00ea00;
	--black: #000000;
    /* Colors */
    --color-primary: var(--lime-green);
    --color-canvas: var(--black);
    --color-bg: var(--black);
    --color-bg-alt: var(--lime-green);
    --color-help: var(--lime-green);
    --color-error: var(--lime-green);
    --color-load-screen-text: var(--lime-green);
    --color-money: var(--lime-green);
    --color-meta-light: var(--lime-green);
    --color-dark-overlay: rgba(15, 21, 23, 0.85);
    --select-color: var(--black);
    /* Text */
    --text-color: var(--lime-green);
    --text-selection-bg: rgba(0, 0, 0, 0.95);
    /* Input */
    --input-bg: transparent;
    --input-active-bg: rgba(0, 0, 0, 0.5);
    --input-border-color: rgba(255,255,255, 0.25);
    --input-color: var(--lime-green);
    /* Search */
    --search-bg: #424242;
    --search-color: var(--lime-green);
    --search-active-bg: var(--lime-green);
    --search-border: 1px solid rgba(0,0,0, 0.25);
    /* Tab */
    --tab-color: var(--lime-green);
    --tab-active-color: var(--lime-green);
    /* Header */
    --header-color: var(--black);
    --header-active-color: var(--black);
    --header-button-bg: transparent;
    /* Table */
    --table-border: 0;
    --table-item-even: transparent;
    --table-item-odd: transparent;
    /* Modla */
    --modal-overlay-bg: var(--color-dark-overlay);
    --modal-border: 1px solid rgba(0, 0, 0, 0.25);
}

p, .truncated-text, .tooltip--header .tooltip__link, .sort-section, .card-row__header, .file-download, .video__play-button, .card__icon-featured-content, .video__loading-status, .wunderbar .icon {
    color: var(--lime-green);
}

a, .button-primary {
    color: var(--black);
}

.header__item .button-alt, .file-download__overlay {
    background: var(--lime-green) !important;
    color: var(--black);
}

code {
    background-color: transparent;
}
